body{
background-color: #06ddb1;
}

h1{
color: #002199;
}

span{
    display: block;
}

nav{
    text-align: center;
    background-color: lightblue;
}

.heading-index{
    font-family: 'Montserrat', sans-serif;
}